* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: gainsboro; }

.sidebar {
  width: 220px;
  height: 100vh;
  background-image: linear-gradient(to bottom, #4da0b0, #d39d38);
  position: fixed;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .sidebar__heading {
    margin-top: 25px;
    text-align: center;
    color: #fff; }

.main {
  padding-left: 230px;
  display: flex;
  flex-direction: column;
  background-color: gainsboro; }
