:root {
  --primary-color: #191654;
  --secondary-color: #43C6AC;
  --white-color: #fff;
  --black-color: #111;
  --sidebar-width: 25rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: gainsboro;
  box-sizing: border-box; }

.sidebar {
  position: fixed;
  width: 25rem;
  height: 100vh;
  background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  border-radius: 0 1.5rem 1.5rem 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
  color: var(--white-color);
  display: flex;
  flex-direction: column; }
  .sidebar__heading {
    font-size: 2.5rem;
    margin: 2.5rem 0 5rem 0;
    text-align: center;
    text-transform: uppercase; }
  .sidebar__nav {
    margin-bottom: auto; }
    .sidebar__nav__list {
      list-style-type: none; }
    .sidebar__nav__item {
      margin: 2rem; }
    .sidebar__nav__link:link, .sidebar__nav__link:visited {
      display: block;
      padding: 1.5rem;
      color: var(--white-color);
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      border: 0.2rem solid var(--white-color);
      border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
      transition: all 0.4s;
      background-image: linear-gradient(130deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 50%);
      background-size: 150%; }
    .sidebar__nav__link:hover, .sidebar__nav__link:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background-position: 100%;
      transform: translateX(1rem);
      color: var(--black-color);
      border: 0.2rem solid black; }
  .sidebar__footer {
    margin-bottom: 1rem;
    text-align: center; }
    .sidebar__footer__icon {
      height: 2rem;
      width: 2rem;
      margin: 0 1rem 0 1rem;
      fill: var(--white-color);
      cursor: pointer;
      transition: all 0.4s; }
      .sidebar__footer__icon:hover {
        transform: translateY(-5px); }

.container {
  padding-left: var(--sidebar-width); }

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(130deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 50%);
  background-size: cover;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }
  .header__text {
    text-align: center; }
  .header__heading1 {
    font-size: 8rem;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .header__heading2 {
    font-size: 4rem;
    margin-bottom: 3rem; }
  .header__paragraph {
    font-size: 2rem;
    padding: 0 2rem 0 2rem; }
  .header__icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 50%;
    bottom: 1rem;
    transition: all 0.4s;
    animation: moveInBottom 1s infinite; }

@keyframes moveInBottom {
  0% {
    transform: translateY(0); }
  80% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }

.section {
  padding: 0 1.5rem 0 1.5rem;
  margin-bottom: 4.5rem; }
  .section__heading--1 {
    font-size: 4.5rem; }
  .section__paragraph {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
  .section__wrap {
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2); }
  .section__code {
    font-size: 1.6rem;
    padding: 2rem;
    border-radius: 1.5rem; }
  .section__box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 2rem; }

.flexbox__container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 25rem; }
  .flexbox__container__box {
    font-size: 4.5rem;
    color: var(--white-color);
    border-radius: 1.5rem;
    border: 2px solid var(--white-color);
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center; }
