.flexbox {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 10rem;
    border-radius: 1.5rem;

    &--row-reverse {
      flex-direction: row-reverse;
    }

    &--column {
      flex-direction: column;
      height: 30rem;

      &-reverse {
        flex-direction: column-reverse;
        height: 30rem;
      }
    }

    &--wrap {
      justify-content: flex-start;
      flex-wrap: wrap;
      height: auto;

      &-reverse {
        justify-content: flex-start;
        flex-wrap: wrap-reverse;
        height: auto;
      }
    }

    &__box {
      font-size: 4.5rem;
      color: var(--white-color);
      border-radius: 1.5rem;
      border: 2px solid var(--white-color);
      background-image: linear-gradient(
        45deg,
        var(--primary-color),
        var(--secondary-color)
      );

      flex: 0 0 20%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
