.flexbox {
  &__container {
    display: flex;
    border-radius: 1.5rem;

    &--row-reverse {
      flex-direction: row-reverse;
    }

    &--column {
      flex-direction: column;

      &-reverse {
        flex-direction: column-reverse;
      }
    }

    &--wrap {
      justify-content: flex-start;
      flex-wrap: wrap;

      &-reverse {
        justify-content: flex-start;
        flex-wrap: wrap-reverse;
      }
    }

    &--flow {
      flex-flow: row wrap-reverse;
    }

    &--end {
      justify-content: flex-end;
    }

    &--center {
      justify-content: center;
    }

    &--space-between {
      justify-content: space-between;
    }

    &--space-around {
      justify-content: space-around;
    }

    &--space-evenly {
      justify-content: space-evenly;
    }
  }

  &__box {
    font-size: 4.5rem;
    color: var(--white-color);
    border-radius: 1.5rem;
    border: 2px solid var(--white-color);
    background-image: linear-gradient(
      45deg,
      var(--primary-color),
      var(--secondary-color)
    );

    flex: 0 0 20%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
