.flexbox {
    &__container {
        display: flex;
         justify-content: space-around;
         align-items: stretch;
         height: 25rem;

        &__box {
            background-image: linear-gradient(
                45deg,
                var(--primary-color),
                var(--secondary-color)
            );
            font-size: 4.5rem;
            color: var(--white-color);
            flex: 0 0 20%;
            border-radius: 1.5rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
