.header {
  height: 100vh;
  position: relative;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 25%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    z-index: -1;
    background-image: linear-gradient(
      45deg,
      var(--primary-color),
      var(--secondary-color)
    );
  }

  &__text {
    text-align: center;
  }

  &__heading1 {
    font-size: 8rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &__heading2 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &__paragraph {
    font-size: 2rem;
    padding: 0 2rem 0 2rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 50%;
    bottom: 1rem;
    transition: all 0.4s;

    animation: moveInBottom 1s infinite;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
