.section {
  padding: 0 1.5rem 0 1.5rem;
  margin-bottom: 4.5rem;

  &__heading--1 {
    font-size: 4.5rem;
  }
  &__heading--2 {
    font-size: 2rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  &__example {
    display: flex;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;

    &--default {
        position: relative;
        border: 2px solid #43C6AC;

        &::before {
            content: "Default";
            display: block;
            position: absolute;
            top: -18px;
            left: 10px;
            font-weight: bold;
            color: #43C6AC;
        }
    }
  }

  &__code {
    flex: 0 0 30%;
    font-family: monospace;
    font-size: 1.3rem;
    padding: 2rem;
    border-radius: 1.5rem;
  }

  &__box {
    flex: 0 0 70%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 2rem;
    margin-right: auto;
  }
}
