.sidebar {
  position: fixed;
  width: 25rem;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );


  border-radius: 0 1.5rem 1.5rem 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19),
    0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
  color: var(--white-color);

  display: flex;
  flex-direction: column;

  &__heading {
    font-size: 2.5rem;
    margin: 2.5rem 0 5rem 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__nav {
    margin-bottom: auto;

    &__list {
      list-style-type: none;
    }

    &__item {
      margin: 2rem;
    }

    &__link {
      &:link,
      &:visited {
        display: block;
        padding: 1.5rem;
        color: var(--white-color);
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        border: 0.2rem solid var(--white-color);
        border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
        transition: all 0.4s;
        background-image: linear-gradient(
          130deg,
          transparent 0%,
          transparent 50%,
          rgba(0, 0, 0, 0.1) 50%
        );
        background-size: 150%;
      }

      &:hover,
      &:active {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        background-position: 100%;
        transform: translateX(1rem);
        color: var(--black-color);
        border: 0.2rem solid black;
      }
    }
  }

  &__footer {
    margin-bottom: 1rem;
    text-align: center;

    &__icon {
      height: 2rem;
      width: 2rem;
      margin: 0 1rem 0 1rem;
      fill: var(--white-color);
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
