:root {
  --primary-color: #191654;
  --secondary-color: #43C6AC;
  --white-color: #fff;
  --black-color: #111;
  --sidebar-width: 25rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //10px
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: gainsboro;
  box-sizing: border-box;
}
