.flexbox {
  &__container {
    display: flex;
    border-radius: 1.5rem;
    border: 1px dotted var(--white-color);

    &--row-reverse {
      flex-direction: row-reverse;
    }

    &--column {
      flex-direction: column;

      &-reverse {
        flex-direction: column-reverse;
      }
    }

    &--wrap {
      justify-content: flex-start;
      flex-wrap: wrap;

      &-reverse {
        justify-content: flex-start;
        flex-wrap: wrap-reverse;
      }
    }

    &--flow {
      flex-flow: row wrap-reverse;
    }

    &--justify {
        &-end {
            justify-content: flex-end;
        }
        &-center {
            justify-content: center;
        }
        &-between {
            justify-content: space-between;
        }
        &-around {
            justify-content: space-around;
        }
        &-evenly {
            justify-content: space-evenly;
        }
    }

    &--align {
        height: 15rem;

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }

        &-center {
            align-items: center;
        }

        &-baseline {
            align-items: baseline;
        }
    }
    
  }

  &__box {
    font-size: 4.5rem;
    color: var(--white-color);
    border-radius: 1.5rem;
    border: 2px solid var(--white-color);
    background-image: linear-gradient(
      45deg,
      var(--primary-color),
      var(--secondary-color)
    );

    flex: 0 0 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    &--height {
        align-items: flex-start;
        height: 15rem;
    }
  }
}
